<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>$Title$</title>
</head>
<body>
<div id="app">
    <h1>{{ title }}</h1>
    <div class="message" v-if="message">
        <p>{{ message }}</p>
    </div>
    <!--        new note-->
    <div class="new-note">
        <input type="text"
            v-model="note.title">
        <textarea v-model="note.desc"></textarea>
        <button @click="addNode">
            New note
        </button>
    </div>
    <!--        note list-->
    <div class="notes">
        <div class="note"
             v-for="(note,index) in notes"
             :key="index">
            <div class="note-header">
                <p>{{ note.title }}</p>
            </div>
            <div class="note-body">
                <p>{{ note.desc }}</p>
                <span>{{ note.date }}</span>
            </div>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            title: 'Notes App',
            message: null,
            note: {
                title: '',
                desc: '',
            },
            notes: [
                {
                    title: "First Note",
                    desc: "Description for first note",
                    date: new Date(Date.now()).toLocaleString(),
                },
                {
                    title: "Second Note",
                    desc: "Description for second note",
                    date: new Date(Date.now()).toLocaleString(),
                },
                {
                    title: "Third Note",
                    desc: "Description for third note",
                    date: new Date(Date.now()).toLocaleString(),
                },
            ]
        },
        methods: {
            addNode() {
                let {title, desc} = this.note;

                if (title === "") {
                    this.message = "Title can't be empty!";
                    return false
                }
                this.notes.push({
                    title,
                    desc,
                    date: new Date(Date.now()).toLocaleString(),
                })
                this.message = null;
                this.note.title = '';
                this.note.desc = '';
            }
        }
    })
</script>

</body>
</html>
